.H1 {
	font-size: var(--size-07);
}

.H2 {
	font-size: var(--size-06);
	color: var(--green-500);
}

.Button {
	background-color: var(--green-500);
	padding: var(--size-02);
	min-width: var(--size-07);
}
