legend {
	font-size: 1.25rem;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

input[type='text'] {
	padding: 0.5rem;
	border: 1px solid gray;
}

.btn {
	font-size: 0.875rem;
	background-color: transparent;
	color: #000;
	padding: 0.5rem;
	border: 1px solid #000;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
}

.center {
	max-width: 30em;
	margin-inline: auto;
}

.nav {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding-block: 1rem;
	& > a {
		text-transform: uppercase;
	}
}

a {
	text-decoration: underline dotted;
	text-decoration-thickness: 1px;
}
